<!DOCTYPE html>
<html lang="es">
<head>
    <title>Teclado gamer Logitech Serie G G513</title>
    <link href="Marketplace_Styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3.3.2/dist/vue.global.js"></script>
</head>

<body>
    
    <div id="grid-layout">

        <div id="cabecera">
            <h1 id="titulo-producto">{{ title }}</h1>
        </div>

        <div id="imagen-producto">
            <img :src="image_url" id="imagen">
        </div>
    
        <div id="descripcion">

            <img class="imagen-miniatura" v-for="imagen in imagenes" :src="imagen" @mouseover="cambiarImagen(imagen)">  
            <!--EJ2 - 1)* Esto es para que se vayan mostrando las imagenes cuando paso por encima de ellas, para ello, recorro el array de imagenes, uso el @mouseover, cuando paso
            por encima de ellas, llama a esa funcion y le paso dicha imagen sobre la que estoy posando como parametro, voy al JS-->

            <h2>Precio: $ {{ notebooksTypes[notebookSeleccionada].price }}</h2> <!-- MINUTO 19:25 -->
                <!-- EJE3 - 4)* Despuesl JS,aqui lo que hago aca es notebooksTypes(aca tengo todos los tipos)[notebookSeleccionada](con esto le indico en que posicion 
                esta el objeto que tiene la informacion que quiero saber).price(aca le indico que atributo de ese objeto quiero saber), EJ notebooksTypes[1].price -->

            <p v-if="mostrarCarroDeCompras">Carro de compras: </p> <!-- Muestra el carro de compras si es !== 0, ver JS -->

            <ul>
                <li v-for="(notebookComprada,indice) in notebooksCompradas" key="indice">{{notebookComprada.ramAmount}} : $ {{notebookComprada.price}}
                    <button @click="eliminarCompra(indice)"> Eliminar </button> <!-- Utilizo el indice para saber en que posicion esta el tipo de notbook que quiero
                                                                                 eliminar-->
                </li>  
            </ul>

            <p>Total: {{ total }}</p> <!-- EJE4 - 5)* Muestro el total de los precios sumandos de los tipos de notbook que fui -->

            <informacion-notbook 
                :notebooks-types="notebooksTypes" 
                @computadora-comprada="computadoraComprada"
                @notbook-seleccionada="manejarNotbookSeleccionada">
            </informacion-notbook>
        
        </div>

        <a :href="factory_url" id="link-fabricante" target="_blank"
           rel="noopener noreferrer">Link sitio web fabricante</a>

       <formulario-evaluacion></formulario-evaluacion>
    </div>  

        <script src="script.js"></script>
        <script src="./Componentes/informacionNotbook.js"></script>
        <script src="./Componentes/formularioComentario.js"></script>
        <script>app.mount('#grid-layout')</script>
     
</body>
</html>

<!-- 
EJE2 = VA CAMBIANDO EN EL DIV DE LAS IMAGENES, LA IMAGEN DE LA MINIATURA DONDE VOY POSANDO
EJE3 = DEPENDIENDO DEL TIPO DE NOTBOOK QUE ELIJA, EN EL H2 SE ME VA A MOSTRAR SU VALOR, EN ESTE CASO, SOLO HAY 2 TIPOS, POR LO TANTO 2 PRECIOS
EJE4 = EN UNA LISTA VA A IR MOSTRANDO LOS ATRIBUTOS DEL TIPO DE NOTBOOK QUE VOY AGREGANDO AL CARRO PARA COMPPRAR, ADEMAS DE IR SUMANDO SU PRECIO Y MOSTRANDOLO EN UN
<p> COMO EL TOTAL EJ: - Computadora X: $100.000
                      - Computadora Y: $125.000
                      Total: $225.000
 -->